[MASTER]

# Maximum number of characters on a single line.
max-line-length=120

# Regular expression matching correct variable names. Overrides variable-
# naming-style.
variable-rgx=([a-z_][a-z0-9_]{0,30}|[A-Z_][A-Z0-9_]{0,30})$

# Regular expression matching correct argument names. Overrides argument-
# naming-style.
argument-rgx=[a-z_][a-z0-9_]{0,30}$

extension-pkg-whitelist=[]